:root{
    --M-color: #476c96;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
}
::selection {
    background: #8bb1f9;
  }

body{
    background-color: #e8effc;
    line-height: 1.5;
    font-weight: 300;
}
.note{
    max-width: 1080px;
    margin: 3rem auto;
    padding: 0 1.5rem;
}
.note h2{
    font-size: 2.6rem;
    text-align: center;
    opacity: 0.9;
    margin-bottom: 1rem;
}

.note-input h3{
    color: var(--M-color);
}
.note-wrapper{
    margin: 0.7rem 0;
    padding: 0.5rem 0;
}
#note-title,
#note-content{
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.2);
    font-size: 1.05rem;
    padding: 0.55rem;
    margin-bottom: 0.8rem;
    border-radius: 2px;
}
#note-content{
    resize: none;
}
#note-title:focus,
#note-content:focus{
    outline: 0;
}
.btn{
    background: var(--M-color);
    border: 2px solid var(--M-color);
    color: #fff;
    padding: 0.55rem 0;
    width: 120px;
    border-radius: 2px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.btn:focus{
    outline: 0;
}
.btn:hover{
    background: #1e3652;
    box-shadow: 0 0 8px 0 rgba(72, 148, 255, 0.33);
}

.note-list{
    margin: 2rem 0;
    background: var(--M-color);
    padding: 2rem;
    border-radius: 2px;
}
.note-item{
    background: #fff;
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 2px;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
}
.note-item h3{
    margin-bottom: 1rem;
    font-size: x-large;
}
.note-item p {
    padding-bottom: 0.5rem;  
    background-color: #e8effc;
     font-size: 1.1rem;
    
}

.time p{
    background-color: #fff;
    font-size: 0.8rem;
}

.note-item .btn{
    margin-top: 0.8rem;
    background: #fff;
    border: 2px solid var(--M-color);
    color: var(--M-color);
}

@media
(min-width: 992px){
    .note-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/*** alert ***/
.warning{
    border-color: rgba(89, 139, 255, 0.8)!important;
}
